.border-radius-xs {
    border-radius: .125rem
}

.border-radius-sm {
    border-radius: .25rem
}

.border-radius-md {
    border-radius: .5rem
}

.border-radius-lg {
    border-radius: .75rem
}

.border-radius-xl {
    border-radius: 1rem
}

.border-radius-2xl {
    border-radius: 1.5rem
}


/* Scroll Bar */
::-webkit-scrollbar{
    width: 0rem;
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bs-primary);
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--bs-primary);
}

.overflow-y-sroll{
    overflow-y: scroll;
}

/* Text Section */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.h6, h6 {
    font-size: 1rem;
    line-height: 1.625;
}

.text-xs {
    font-size: .75rem !important
}

.text-sm {
    font-size: .875rem !important
}

.text-lg {
    font-size: 1.125rem !important
}

.font-weight-lighter {
    font-weight: lighter !important
}

.font-weight-light {
    font-weight: 300 !important
}

.font-weight-normal {
    font-weight: 400 !important
}

.font-weight-bold {
    font-weight: 600 !important
}

.font-weight-bolder {
    font-weight: 700 !important
}

/* Button */
.btn:hover{
    color: #fff !important
}

.text-outline-success{
    color: #2dce89;
    border-color: #2dce89;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #2dce89;
    padding: 0.625rem 1.25rem;
    font-size: .875rem;
    border-radius: 0.5rem;
    transition: all .15s ease-in;
}

.flowchart .text-outline-success.grey{
  color: #8392ab;
  border-color: #8392ab;
  border: 1px solid #8392ab;
}

.flowchart svg.grey line {
  stroke: #8392ab;
}

.flowchart .text-outline-success.blue{
  color: #5e72e4;
  border-color: #5e72e4;
  border: 1px solid #5e72e4;
}

.flowchart svg.blue line {
  stroke: #5e72e4;
}



/* Flowchart */
.flowchart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flowchart svg {
  height: 3rem;
}
.flowchart svg line {
  stroke: #3fcf91;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-dasharray: 2px 20px;
  animation: animateline 5s linear both infinite;
}

@-moz-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -3rem;
  }
}
@-webkit-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -3rem;
  }
}
@-o-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -3rem;
  }
}
@keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -3rem;
  }
}

/* draggable */
.draggable {
  display: flex;
  position: relative;
  width: 100%;
}

.draggable .text{
  margin: 0 auto;
  cursor: grab;
}

.draggable-list .icon {
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: all .35s ease-in-out;
}

.draggable-list .icon.simpi-icon-trash-2 {
  right: 10px;
}

.draggable-list .icon.simpi-icon-menu {
  right: 40px;
}

.draggable:hover .icon{
  opacity: 1;
  transition: all .35s ease-in-out;
}

.draggable.over {
  background-color: #b9c0ff;
  border-radius: 0.5rem;
  opacity: 0.2;
}